API_ID= 12396073 # get this value from my.telegram.org
API_HASH= 5af45cda30f38141da6e3d01ff06adb8 # get this value from my.telegram.org
BOT_TOKEN= 5221077999:AAEoS8CIISzfLq4mWWMnR7M9bhwiDer7bwY # get this value from @Botfather
MONGO_DB_URI= mongodb+srv://hedigitals:Muhammadyk1$@cluster0.29t5w.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID= -1001650142451 # get this value from in your log group 
MUSIC_BOT_NAME= MOBI_Play 
STRING_SESSION= BAC9JikAlbXktsDjes9ZiT6iM_NamiecQ7PIooYB4mpLclSd1ZXxbqJ-F27g14_fEz9l4mV-Pvr2fygixUuJyfUvXugnoBo9pkYSaJn1HsiQrzup2S1MhkP_PbjK-cq73SDQtS2kXZtY7Qpncnf6_RyMt2ey_KSyKGh_u3HXRqRXFMQt7ZY2xeTvC2khug2O_gO-2FSCdUWLFluve9EWod6Jjghp-4S2Fr1fpZPGkDwWU7xxsjPypkXVden8G3PuEd5cCsHYAIZw0Z0aC4xDK01B-36Zkq-boKcyzoQ0FCWKAXQo2dpea6iBAtSfKQEB-RG9w6B7JzyC8dPAL-A4xD3WUAjGeQAAAABq1dO0AA
