API_ID= 12396073 # get this value from my.telegram.org
API_HASH= 5af45cda30f38141da6e3d01ff06adb8 # get this value from my.telegram.org
BOT_TOKEN= 5221077999:AAEoS8CIISzfLq4mWWMnR7M9bhwiDer7bwY # get this value from @Botfather
MONGO_DB_URI= mongodb+srv://hedigitals:Muhammadyk1$@cluster0.29t5w.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID= -1001650142451 # get this value from in your log group 
MUSIC_BOT_NAME= MOBI_Play
STRING_SESSION= BAF_5S0AlTSQKZhOhbaw1vURgi71bAVxLYvpM6K1vol2gc9p1v4BGgQX8bRXYx5zNlGNULR3d4qq4Rt5ffHFQMedsdXPGQYujASxgrjSXUEbjbIUVTBElFdP0MEQcWVgQ4j7_GjB8aY82-zhyZi0i-ohWpW6179n4RmxLHqb67gGOSDNmn-TKVWt2y_lfuXXnboN3L8YaenQR6UK7LaZN6sFsEva4Oy0hQIVygRXnBUuXD1PISGQz6GV5xQdki0jfIih-3q1xBFUphd2Eux8_pc_iwoU-E0bsan_cpSF2lxJTgSUzAtxXWlkUnuPDbPU3RfGH5JhRMqa2SsryGKY35nDPsqgmwAAAAF5o23BAA